<a href="https://colab.research.google.com/github/Syntax-code/Machine-Learning/blob/master/breast_Cancer_MPneuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from random import randint

Load breast cancer dataset from sklearn

In [0]:
breast_cancer = sklearn.datasets.load_breast_cancer()

In [0]:
X = breast_cancer.data
Y = breast_cancer.target

In [4]:
print(X.shape, Y.shape)

(569, 30) (569,)

In [0]:
data = pd.DataFrame(breast_cancer.data, columns=breast_cancer.feature_names)
data['class'] = breast_cancer.target

In [6]:
data.head()

   mean radius  mean texture  ...  worst fractal dimension  class
0        17.99         10.38  ...                  0.11890      0
1        20.57         17.77  ...                  0.08902      0
2        19.69         21.25  ...                  0.08758      0
3        11.42         20.38  ...                  0.17300      0
4        20.29         14.34  ...                  0.07678      0

[5 rows x 31 columns]

In [7]:
data.describe()

       mean radius  mean texture  ...  worst fractal dimension       class
count   569.000000    569.000000  ...               569.000000  569.000000
mean     14.127292     19.289649  ...                 0.083946    0.627417
std       3.524049      4.301036  ...                 0.018061    0.483918
min       6.981000      9.710000  ...                 0.055040    0.000000
25%      11.700000     16.170000  ...                 0.071460    0.000000
50%      13.370000     18.840000  ...                 0.080040    1.000000
75%      15.780000     21.800000  ...                 0.092080    1.000000
max      28.110000     39.280000  ...                 0.207500    1.000000

[8 rows x 31 columns]

In [8]:
data['class'].unique()

array([0, 1])

In [9]:
data['class'].value_counts()

1    357
0    212
Name: class, dtype: int64

In [10]:
breast_cancer.target_names

array(['malignant', 'benign'], dtype='<U9')

In [0]:
X =data.drop('class', axis=1)
Y =data['class']

In [0]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y)


Binarization

Cause the  MP neuron model takes input as binary values.

Hence convert them into binary values

In [0]:
X_binarized_train = X_train.apply(pd.cut, bins= 2, labels = [1,0])
X_binarized_test = X_test.apply(pd.cut, bins= 2, labels = [1,0])

In [14]:
type(X_binarized_train)

pandas.core.frame.DataFrame

In [0]:
X_binarized_train = X_binarized_train.values
X_binarized_test = X_binarized_test.values

In [16]:
type(X_binarized_train)

numpy.ndarray

Mp neuron model

In [17]:
b = 3

i = 100

if np.sum(X_binarized_train[i, :]) >= b:
  print('MP neuron model is malignant')
else:
  print('MP neuron model is benign')

if (Y_train[i] == 1) :
  print('It is malignant')
else:
  print('It is benign')

MP neuron model is malignant
It is benign

In [18]:
b = 3

i = randint(0, X_binarized_train.shape[0])

print('For row ', i )

if np.sum(X_binarized_train[i, :]) >= b:
  print('MP neuron model is malignant')
else:
  print('MP neuron model is benign')

if (Y_train[i] == 1) :
  print('It is malignant')
else:
  print('It is benign')

For row  156
MP neuron model is malignant
It is benign

In [19]:
b= 3
Y_pred_train = []
accurate = 0

for x,y in zip(X_binarized_train, Y_train):
  Y_pred = (np.sum(x) >= b)
  Y_pred_train.append(Y_pred)
  accurate += (y == Y_pred ) 

print(accurate/X_binarized_train.shape[0])

0.6220657276995305

In [21]:
for b in range(X_binarized_train.shape[1] + 1):
  Y_pred_train = []
  accurate = 0

  for x,y in zip(X_binarized_train, Y_train):
    Y_pred = (np.sum(x) >= b)
    Y_pred_train.append(Y_pred)
    accurate += (y == Y_pred ) 

  print(b , accurate/X_binarized_train.shape[0])

0 0.6220657276995305
1 0.6220657276995305
2 0.6220657276995305
3 0.6220657276995305
4 0.6220657276995305
5 0.6220657276995305
6 0.6220657276995305
7 0.6220657276995305
8 0.6220657276995305
9 0.6220657276995305
10 0.6220657276995305
11 0.6220657276995305
12 0.6220657276995305
13 0.6244131455399061
14 0.6314553990610329
15 0.6384976525821596
16 0.6384976525821596
17 0.6502347417840375
18 0.6525821596244131
19 0.6572769953051644
20 0.6643192488262911
21 0.6948356807511737
22 0.7112676056338029
23 0.7370892018779343
24 0.7699530516431925
25 0.8145539906103286
26 0.8262910798122066
27 0.8403755868544601
28 0.8474178403755869
29 0.8356807511737089
30 0.7276995305164319