<a href="https://colab.research.google.com/github/Syntax-code/Machine-Learning/blob/master/breast_Cancer_MPneuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from random import randint
from sklearn.metrics import accuracy_score

Load breast cancer dataset from sklearn

In [0]:
breast_cancer = sklearn.datasets.load_breast_cancer()

In [0]:
X = breast_cancer.data
Y = breast_cancer.target

In [25]:
print(X.shape, Y.shape)

(569, 30) (569,)

In [0]:
data = pd.DataFrame(breast_cancer.data, columns=breast_cancer.feature_names)
data['class'] = breast_cancer.target

In [27]:
data.head()

   mean radius  mean texture  ...  worst fractal dimension  class
0        17.99         10.38  ...                  0.11890      0
1        20.57         17.77  ...                  0.08902      0
2        19.69         21.25  ...                  0.08758      0
3        11.42         20.38  ...                  0.17300      0
4        20.29         14.34  ...                  0.07678      0

[5 rows x 31 columns]

In [28]:
data.describe()

       mean radius  mean texture  ...  worst fractal dimension       class
count   569.000000    569.000000  ...               569.000000  569.000000
mean     14.127292     19.289649  ...                 0.083946    0.627417
std       3.524049      4.301036  ...                 0.018061    0.483918
min       6.981000      9.710000  ...                 0.055040    0.000000
25%      11.700000     16.170000  ...                 0.071460    0.000000
50%      13.370000     18.840000  ...                 0.080040    1.000000
75%      15.780000     21.800000  ...                 0.092080    1.000000
max      28.110000     39.280000  ...                 0.207500    1.000000

[8 rows x 31 columns]

In [29]:
data['class'].unique()

array([0, 1])

In [30]:
data['class'].value_counts()

1    357
0    212
Name: class, dtype: int64

In [31]:
breast_cancer.target_names

array(['malignant', 'benign'], dtype='<U9')

In [0]:
X =data.drop('class', axis=1)
Y =data['class']

In [0]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y)


Binarization

Cause the  MP neuron model takes input as binary values.

Hence convert them into binary values

In [0]:
X_binarized_train = X_train.apply(pd.cut, bins= 2, labels = [1,0])
X_binarized_test = X_test.apply(pd.cut, bins= 2, labels = [1,0])

In [35]:
type(X_binarized_train)

pandas.core.frame.DataFrame

In [0]:
X_binarized_train = X_binarized_train.values
X_binarized_test = X_binarized_test.values

In [16]:
type(X_binarized_train)

numpy.ndarray

Mp neuron model

In [37]:
b = 3

i = 100

if np.sum(X_binarized_train[i, :]) >= b:
  print('MP neuron model is malignant')
else:
  print('MP neuron model is benign')

if (Y_train[i] == 1) :
  print('It is malignant')
else:
  print('It is benign')

MP neuron model is malignant
It is benign

In [39]:
b = 3

i = randint(0, X_binarized_train.shape[0])

print('For row ', i )

if np.sum(X_binarized_train[i, :]) >= b:
  print('MP neuron model is malignant')
else:
  print('MP neuron model is benign')

if (Y_train[i] == 1) :
  print('It is malignant')
else:
  print('It is benign')

For row  11
MP neuron model is malignant
It is benign

In [40]:
b= 3
Y_pred_train = []
accurate = 0

for x,y in zip(X_binarized_train, Y_train):
  Y_pred = (np.sum(x) >= b)
  Y_pred_train.append(Y_pred)
  accurate += (y == Y_pred ) 

print(accurate/X_binarized_train.shape[0])

0.6619718309859155

In [41]:
for b in range(X_binarized_train.shape[1] + 1):
  Y_pred_train = []
  accurate = 0

  for x,y in zip(X_binarized_train, Y_train):
    Y_pred = (np.sum(x) >= b)
    Y_pred_train.append(Y_pred)
    accurate += (y == Y_pred ) 

  print(b , accurate/X_binarized_train.shape[0])

0 0.6619718309859155
1 0.6619718309859155
2 0.6619718309859155
3 0.6619718309859155
4 0.6619718309859155
5 0.6619718309859155
6 0.6619718309859155
7 0.6619718309859155
8 0.6619718309859155
9 0.6619718309859155
10 0.6619718309859155
11 0.6666666666666666
12 0.6690140845070423
13 0.6737089201877934
14 0.676056338028169
15 0.6830985915492958
16 0.6901408450704225
17 0.6995305164319249
18 0.7112676056338029
19 0.7253521126760564
20 0.7300469483568075
21 0.7488262910798122
22 0.7769953051643192
23 0.8075117370892019
24 0.8286384976525821
25 0.8474178403755869
26 0.8615023474178404
27 0.8849765258215962
28 0.8732394366197183
29 0.8145539906103286
30 0.7253521126760564

In [44]:
b= 27
Y_pred_test =[]

for x in X_binarized_test :
  Y_pred = (np.sum(x) >= b)
  Y_pred_test.append(Y_pred)

accuracy = accuracy_score(Y_pred_test, Y_test)

print(b, accuracy)

27 0.8461538461538461